<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Quick Minute Journal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css"> 
    <link rel="stylesheet" href="/stylesheets/app.css"> 
  </head>
  <body>
    <div class="ui teal fixed inverted menu">
        <div class = "ui container">
            <div class = "header item">
              <a href="/">
                <i class="fast forward icon"></i>
                The Quick Minute Journal
              </a>
            </div>
            <div class="right menu">
            <a href="/blogs/new" class="item"><i class="mail icon"></i> New Post</a></div>
        </div>
    </div>