<% include partials/header %>

<% blogs.forEach(function(blog){ %>
    <div>
        <h2><%= blog.title %></h2>
        <img src="<%= blog.image %>">
        <P><%= blog.body %></P>
        <span><%= blog.created %></span>
    </div>
<% }) %>

<% include partials/footer %>