i.icon { 
    font-size: 2em;
}

.container.main { 
    margin: 7.0em;    
}

#delete { 
    display: inline;    
}

footer { 
    text-align: center;
}

footer i.icon{
    font-size: 1.5em;
    color: black;
}
