body{
    padding: 20px;
}

i.icon { 
    font-size: 1em;
}

.container.main { 
    margin: 5.0em;    
}

#delete { 
    display: inline;    
}

footer { 
    padding-bottom: 10px;
    margin: 10px;
    text-align: center;
}

footer i.icon{
    font-size: 1.5em;
    color: black;
}
